table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-color: grey;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Malgun Gothic", 돋움, dotum, sans-serif, AppleGothic;
  color: rgb(51, 51, 51);
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
